.carrito{
    width: 200 px ;
    height: 200 px;
}

.divinicio{
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.header{
    margin-top: 5%;
}
.logoSano{
    width: 60 px;
    height: 45 px;
}